/*  border: 2px solid red; */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.miniver{
  font-family: "Miniver", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --dark: #252525;
    --primary-brown: #3b141c;
    --secondary-yellow: #f3961c;
    --light-pink: #faf4f5;
    --medium-gray: #ccc;


    --max-width: 1300px
}


ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    background-color: var(--primary-brown);
}

.site_logo{
    display: flex;
    align-items: center;
    gap: 1px;
    transition: .3s ease-in-out;
}

.siteIcon{
    width: 90px;
    height: 90px;
    margin-right: -13px;
}

.site_logo:hover{
    padding-left: 12px;
}

.site_name{
    margin-top: 5px;
}

.menu li a{
    padding: 10px 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    transition: .300s ease;
}

.menu li a:hover{
    background-color: rgb(253, 173, 0);
    color: rgb(64, 19, 19);
    padding: 10px 10px;
    border-radius: 10px;
}



/* banner section style */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background-color: var(--primary-brown);
}

.banner_text{
    color: var(--white);
    margin-top: -20px;
}

.banner_text h3{
    font-size: 40px;
    font-weight: 700;
    color: var(--secondary-yellow);
    margin-bottom: 12px;
}

.banner_text h4{
    font-size: 30px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 15px;
}

.banner_text p{
    font-size: 20px;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 15px;
}

.order_now_btn{
    padding: 10px 30px;
    background-color: var(--secondary-yellow);
    color: var(--primary-brown);
    border: 3px solid transparent;
    border-radius: 30px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: .300s ease;
}

.order_now_btn:hover{
    color: var(--white);
    background-color: transparent;
    border: 3px solid white;

}

.contact_us_btn{
    padding: 10px 30px;
    background-color: transparent;
    color: var(--white);
    border: 3px solid white;
    border-radius: 30px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: .300s ease;

}

.contact_us_btn:hover{
    background-color: var(--secondary-yellow);
    color: var(--primary-brown);
    border: 3px solid var(--secondary-yellow);
}

.banner_image{
    width: 500px;
    height: 500px;
}

/* about us style */
.about_us{
    padding: 120px 190px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-pink);
}

.bannerImage{
    width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 10%;
    /* box-shadow: 8px 8px 50px #28161a; */
    transition: transform 0.25s ease, 0.25s ease;
}

.bannerImage:hover{
    transform: translateY(-10px);
    box-shadow: 8px 8px 50px #28161a;
    cursor: pointer;
}

.about_us_text h2, .our_menu_tag{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.about_us_text h2::after, .our_menu_tag::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 20px;
    border-radius: 5px;
    background: var(--secondary-yellow);
}

.about_us_text p{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark);    
    margin-bottom: 20px;
    line-height: 35px;
}

.sm_tags{
    text-align: center;
}

.sms{
    color: var(--primary-brown);
    margin-left: 20px;
    font-size: 30px;
}

.sms_link{
    transition: transform 0.25s ease, text-decoration 0.25s ease;
}

.sms_link:hover{
    transform: translateY(-8px);
    text-decoration: underline;
    text-underline-offset: 8px;
    color: var(--secondary-yellow);
}

/* our_menu style */
.our_menu{
    padding-top: 30px;
    background-color: var(--dark);
    color: var(--light-pink);
}
/* Responsive */
@media screen and (max-width: 756px) {
    .menu{
        display: none;
    }

    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 150px;
        background-color: var(--primary-brown);
    }

    .banner_image{
        width: 350px;
        height: 350px;
    }
}